@model ProductCategory
<div class="form-group">
    <label for="product">Name</label>
    <input type="text" required class="form-control" asp-for="@Model.Name" id="name" name="name" placeholder="Enter category name">
    <input type="hidden" id="hdnId" asp-for="@Model.Id" />
</div>